<div class="help">
  <h1> Markdown Cheat Sheet</h1>
  <div class="headers">
    <h4>Headers</h4>
    <p># H1 <br/></p>
    <p>## H2 <br/></p>
    <p>### H3 <br/></p>
    <p>#### H4 <br/></p>
    <p>##### H5 <br/></p>
    <p>###### H6<br/></p>
  </div>
  <div class="emphasis">
    <h4>Emphasis</h4>
    <p>
      Emphasis, aka italics, with *asterisks* or _underscores_.<br/>

      Strong emphasis, aka bold, with **asterisks** or __underscores__.<br/>

      Combined emphasis with **asterisks and _underscores_**.<br/>
    </p>
  </div>
  <div class="links">
    <h4>Links</h4>
    <p>
      [I'm an inline-style link](https://www.google.com)<br/>

      [I'm an inline-style link with title](https://www.google.com "Google's Homepage")<br/>

      [I'm a reference-style link][Arbitrary case-insensitive reference text]<br/>

      [I'm a relative reference to a repository file](../blob/master/LICENSE)<br/>

      [You can use numbers for reference-style link definitions][1]<br/>

      Or leave it empty and use the [link text itself]<br/>

      Some text to show that the reference links can follow later.<br/>

      [arbitrary case-insensitive reference text]: https://www.mozilla.org<br/>
      [1]: http://slashdot.org<br/>
      [link text itself]: http://www.reddit.com<br/>
    </p>
  </div>
  <div class="code">
    <h4>Code</h4>
    <p>
      <p>Inline `code` has `back-ticks around` it.</p><br/>
      <p>Blocks of code are either fenced by lines with three back-ticks ```, or are indented with four spaces.<br/>
     ```javascript<br/>
     var s = "JavaScript syntax highlighting";<br/>
     alert(s);<br/>
     ```<br/>
   </p>
    </p>
  </div>
  <div class="blockquote">
    <h4>Blockquotes</h4>
    <p>
      > Blockquotes are very handy in email to emulate reply text.<br/>
      > This line is part of the same quote.<br/>
    </p>
  </div>
</div>