<div class="bliki">
  <h1>Ready to drop some knowledge?</h1>
  <button class="help-toggle">Need some markdown help? Click here.</button>
  <%= render partial: 'help' %>
  <%= render partial: 'form', locals: { topic: @wiki } %>
</div>

