<div class="container row">
  <div class="wiki">
    <header class="heading">
      <%= link_to "Back", wikis_path %>
      <div class="status">
        <% if @wiki.private == true %>
          <span>This bliki is private.</span>
        <% else %>
          <span>This bliki is public.</span>
        <% end %>
      </div>
    </header>

    <h1 class="title"><%= @wiki.title %></h1>

    <article class= "markdown-body">
      <%= markdown_to_html @wiki.body %>
    </article>
  </div>
</div>