<footer class="footer row">
  <ul>
    <li>About</li>
    <li>Blog</li>
    <li>Contact</li>
    <li>Jobs</li>
    <li>Terms</li>
    <li>Privacy</li>
  </ul>
  <div class="devops">
    <small> Created on </small>
    <%= image_tag("thefly.png") %>
  </div>

</footer>